.corpo-noticia a {
  color: rgb(79, 70, 229);
}

.altura-index {
  height: calc(100vh - 124px);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tracking-super {
  letter-spacing: 1em;
}
